.form-wrapper{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    width: 400px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-label {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.input-label label{
    font-weight: 600;
    font-size: 1.1em;
    color: #40261C;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.input-label input {
    width: 300px;
    height:30px;
    padding: 5px;
    border-radius: 10px;
    border: solid 1px #40261C;
}

.input-label .file {
    border: none;
}

.form-wrapper .rs-input{
    width: 400px;
}

.rs-input:hover, .rs-input:focus, .rs-input:hover:not(:disabled), .rs-input:active{
    border-color: #40261C;
    box-shadow: 0 0 0 3px #40261C50;
}

.input-inline{
    display: flex;
    justify-content: space-between;
}

.input-inline .rs-input {
    width: 100%;
}

.rs-divider{
    background-color: #40261C;
}

.rs-divider-horizontal{
    height: 0.5px;
}

.form-wrapper .rs-btn-primary{
    width: 200px;
    background: #40261C;
}

.form-wrapper .rs-btn-primary:hover, .rs-btn-primary:active, .rs-btn-primary:focus{
    background: #B38861;
    color:#000;
}

.button{
    width: 300px;
    left:50%;
    transform: translateX(-50%);
}

.wrapped-button{
    display: flex;
    justify-content: space-between;
}

.wrapped-button .button{
    width: 40%;
    left:0;
    transform: translateX(0);
}

.form-wrapper .rs-btn{
    text-align: center;
    text-transform: uppercase;
}

.wrapped-tooltip{
    display: flex;
}

.switch{
    display:flex;
    justify-content: space-between;
    align-items: center;
}