.row{
    display: grid;
    grid-template-columns: [cover] 110px [informations] 250px [description] 1fr [end];
    margin: 15px 0;
}

.cover{
    grid-column-start: cover;
    width: auto;
    height: 150px;
}

.informations{
    grid-column-start: 'informations';
    width:250px;
    height: 150px;
    padding: 0 10px;
    border-right: 1px solid #40261C;
}

.inline{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.kind{
    display: flex;
    flex-wrap: wrap;
}

.kind > div {
    margin: 5px 10px 5px 0;
}

.description{
    grid-column-start: 'description';
    display: flex;
    align-items: center;
}

.description p {
    height: 150px;
    overflow: hidden;
    padding: 0 10px;
}

.toBook{
    width: 100px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.toBook img{
    width: 50px;
    height: auto;
    margin: 5px auto;
}

.booked{
    opacity:0.5;
}

.toBook .bookButton{
    width: 100px;
}



