.row-book{
    display: grid;
    grid-template-columns: [info] 300px [by] 250px [date] 1fr [action] 120px [end];
    margin: 10px 0;
}

.row-user{
    display: grid;
    grid-template-columns: [info] 1fr [action] 120px [end];
    margin: 10px 0;
}

.user-info{
    grid-column-start: 'info';
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-right: 50px;
}

.user-info p {
    padding: 0;
    margin: 0;
}

.book-information{
    grid-column-start: 'info';
    display: flex;
    align-items: flex-start;
}

.book-information p:first-child{
    margin: 0 10px 0 0;
}

.book-information p:last-child{
    margin: 0;
    padding: 0;
}

.book-by{
    grid-column-start: 'by';
    display: flex;
    align-items: flex-start;
}

.date-message{
    grid-column-start: 'date';
}

.action{
    grid-column-start: 'action';
    display: flex;
    align-items: center;
    justify-content: space-between;
}


